{{ define "main" -}}
<div>
  {{ .Content -}}
</div>
<div class="title">
  <h1>Articles</h1>
</div>

<div class="content">
  <ul class="home-articles">
    {{ range (.Paginate ( where .Site.RegularPages "Type" "in" site.Params.mainSections )).Pages -}}
      <li class="home-article">
        <div>
          <div class="home-article-date">{{ .Date.Format "2006-01-02" }}</div>
        </div>
        <a class="home-article-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end -}}

    <li class="home-article">
      <div>
        <div class="home-article-date">Archive</div>
      </div>
      <a class="home-article-title" href="projects/android-bus-tracker">Gainesville Bus Tracker</a>
    </li>
    <li class="home-article">
      <div>
        <div class="home-article-date">Archive</div>
      </div>
      <a class="home-article-title" href="projects/cpsc-493-senior-project">CPSC-493 Android Game</a>
    </li>
    <li class="home-article">
      <div>
        <div class="home-article-date">Archive</div>
      </div>
      <a class="home-article-title" href="projects/goldfish-rss">Goldfish RSS</a>
    </li>
  </ul>

  {{ template "_internal/pagination.html" . -}}

  <h2>Links</h2>
  <ul>
    <li><a href="https://github.com/victorbush">github.com/victorbush</a></li>
    <li><a href="https://bitbucket.org/victorbush">bitbucket.org/victorbush</a></li>
  </ul>
</div>

{{ end -}}
