body {
	background-color: #fbfbfb;
	line-height: 1.5rem;
	font-family: 'Libre Baskerville', serif;
}

a {
	color: #447ec1;
}

a:hover {
	color: #447ec1;
}

h1 {
	font-family: 'Libre Baskerville', serif;
	color: #5a5a5a;
	margin: 0;
}

h2 {
	border-bottom: 0.1rem dashed #5a5a5a;
	padding-bottom: 0.7rem;
	margin: 3rem 0 1rem 0;
}

h3, h4, h5 {
	margin: 2rem 0 1rem 0;
}

ul, ol {
	line-height: 1.7rem;
}

/*
Tables
*/

table {
	border: 0.1rem dashed #5a5a5a;
}

tbody tr:first-child td {
	padding-top: 0.7rem;
}

th {
	color: #5a5a5a;
}

td, th {
	padding: 0.4rem 0.9rem;
}

/*
Header
*/

.site-header {
	border-top: solid .75rem #447ec1;
	text-align: center;
	padding: 1rem;
}

.site-header img {
	max-width: 4rem;
	max-height: none;
}

/*
Content
*/

main {
	text-align: center;
}

article {
	margin: 0 auto;
	max-width: 900px;
    padding: 0 1.5rem;
	text-align: left;
}

.title {
	text-align: center;
	margin: 1rem;
}

.meta {
	text-align: center;
}

/*
Code
*/

code {
	font-family: monospace, monospace;
	font-size: 0.9rem;
	background-color: #f4f4f4;
	padding: 0.06rem 0.2rem;
	border-radius: 0.3rem;
}
pre code {
	font-family: monospace, monospace;
	font-size: 0.9em;
	padding: 0.6rem;
	display: block;
	border-radius: 0;
	border: 0.1rem dashed #5a5a5a;
	background-color: #f4f4f4;
	margin-bottom: 2rem;
}