body {
	background-color: #fbfbfb;
	font-family: 'Libre Baskerville', serif;
	font-size: 90%;
	word-break: break-word;
}

p {
	line-height: 1.5rem;
}

a {
	color: #447ec1;
}

a:hover,
a:visited:hover {
	color: #5cc5c3;
}

a:visited {
	color: #4d57a4;
}

h1, h2 {
	font-family: 'Libre Baskerville', serif;
	color: #3d3d3d;
	border-bottom: 0.3rem solid #447ec1;
	padding-bottom: 0.7rem;
	margin: 1rem 0 2rem 0;
	font-size: 1.4rem;
}

h2 {
	margin: 3rem -1rem 2rem -1rem;
}
@media (max-width: 550px) {
	h2 {
		margin: 3rem 0rem 2rem 0rem;
	}
}

h3, h4, h5 {
	color: #3d3d3d;
	margin: 2rem 0 1rem 0;
}

ul, ol {
	line-height: 1.5rem;
}
@media (max-width: 600px) {
	ul, ol {
		padding-left: 1rem;
	}
}

img {
	max-width: 100%;
}

/*
Tables
*/

table {
	border: 0.1rem dashed #3d3d3d;
	word-break: normal;
	display: block;
	overflow-x: auto;
}

tbody tr:first-child td {
	padding-top: 0.7rem;
}

th {
	text-decoration: underline;
}

td, th {
	padding: 0.4rem 0.9rem;
}
@media (max-width: 550px) {
	td, th {
		padding: 0.4rem 0.4rem;
	}
}

/*
Header
*/

.site-header {
	border-top: solid .5rem #447ec1;
	text-align: center;
	padding: 1rem;
}

.site-header img {
	max-width: 8rem;
	max-height: none;
}

nav {
	text-align: center;
}

/*
Home
*/

.home-articles {
	border: none;
	padding: 0;
	line-height: 1rem;
}

.home-articles li {
	list-style: none;
	display: flex;
	flex-direction: row;
}
@media (max-width: 550px) {
	.home-articles li {
		flex-direction: column;
	}
}

.home-article {
	text-decoration: none;
	display: block;
	margin: 0.5rem 0;
}
@media (max-width: 550px) {
	.home-article {
		margin: 1.0rem 0;
	}
}
.home-article-title {
	text-decoration: underline;
}

.home-article-date {
	display: block;
	font-family: monospace;
	font-size: 0.9rem;
	display: inline-block;
	margin-right: 1rem;
	flex: 0 0 4.5rem;
	width: 4.5rem;
}
@media (max-width: 550px) {
	.home-article-date {
		flex: 0 0 0;
		display: inline-block;
		margin-bottom: 0.3rem;
	}
}

.home-article-date-cell {
	width: 5rem;
}
@media (max-width: 550px) {
	.home-article-date-cell {
		display: none;
		width: auto;
	}
}

.home-links {
	padding: 0;
	line-height: 1.5rem;
}
.home-links li {
	list-style: none;
}
.home-link-img img {
	width: 1rem;
	display: inline-block;
	margin-right: 0.5rem;
	top: 0.1rem;
	position: relative;
}

/*
Content
*/

main {
	text-align: center;
}

article {
	margin: 0 auto;
	max-width: 850px;
	padding: 0 1.5rem;
	text-align: left;
}

.cover {
	height: 200px;
	background-size: cover;
	background-position: center;
	margin: 0 auto 2rem auto;
	max-width: 96rem;
	outline: #447ec1 1px solid;
}
@media (max-width: 550px) {
	.cover {
		height: 100px;
	}
}

.title {
	text-align: left;
	margin: 1rem 0;
}

.meta {
	text-align: left;
	font-size: 0.7rem;
	font-style: italic;
}

.content {
	padding: 0 1rem 2rem 1rem;
	margin-bottom: 2rem;
}
@media (max-width: 550px) {
	.content {
		padding: 0;
	}
}

.home-date {
	font-size: 0.9rem;
	font-family: monospace;
}

/*
Code
*/

code {
	font-family: monospace, monospace;
	font-size: 1rem;
	background-color: #e7e7e7;
	padding: 0.06rem 0.2rem;
	border-radius: 0.3rem;
}
pre code {
	font-family: monospace, monospace;
	font-size: 1rem;
	padding: 0.6rem;
	display: block;
	border-radius: 0;
	border: 0.1rem dashed #5a5a5a;
	background-color: #f4f4f4;
	margin-bottom: 2rem;
	overflow-x: auto;
	color: #000;
}
@media (max-width: 550px) {
	code, pre code {
		font-size: 0.9rem;
	}
}

/*
Image
*/

.img-container {
	margin: 2rem 0;
}

.img-caption {
	font-size: 0.8rem;
	color: #888;
	margin-top: 0.2rem;
}

.img-gallery {
	display: inline-block;
	margin: 1rem 1rem 1rem 0;
}

/*
List-img
*/

.list-img-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 1rem 0;
}
@media (max-width: 700px) {
	.list-img-container {
		flex-direction: column;
		align-items: start;
		margin: 1rem 0;
	}
}

.list-img {
	margin-right: 1rem;
	max-width: 20rem;
}

.list-img-caption {
	font-size: 0.8rem;
	color: #888;
}