{{ define "main" -}}

{{ if .Params.cover }}
<div class="cover" style="background-image: url({{ .Params.cover }})">
</div>
{{ end -}}

<div class="meta">
  {{ if .Date -}}
  <div>{{ .Date.Format "January 01, 2006" }}</div>
  {{ end -}}
  {{ $taxo := "tags" -}}
  {{ if .Param $taxo -}}
  <div>
    {{ range .Param $taxo -}}
      {{ $name := . -}}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) -}}
    <span><a href="{{ .Permalink }}">#{{ $name }}</a></span>
      {{ end -}}
    {{ end -}}
  </div>
  {{ end -}}
</div>
<div class="title">
  <h1>{{ .Title }}</h1>
  {{ with .Params.Subtitle -}}
  <h2>{{ . }}</h2>
  {{ end -}}
</div>
<div class="content">
  {{ .Content -}}
</div>
{{ end -}}
